.profile-pic {max-width:100%;}
h3{color: green}
.custom-progress-bar-pink{
background-color:#b22a73;}

.profile-video { 
	width: 100%;
}
.margin{}
body{
	background-color: lightblue;
}
hi{
	color:black;
	text-align: center;
}
p{
	front-family:verdana;
	font-size-adjust: 
}
.profile-title{font-family: 'Srisakdi', cursive;}
.profile-text{font-family: 'Lato', sans-serif;}
.profile {font-family: 'Pacifico', cursive;}
.green-title {color: green}
.blue-title{color: #4292f4}