.profile-pic {max-width:100%;}
h4{color: green}
.custom-progress-bar-pink{
background-color:#b22a73;}

.profile-video { 
	width: 100%;
}
.margin{}
body{
	background-color: lightblue;
}
hi{
	color:black;
	text-align: center;
}
p{
	front-family:verdana;
	font-size-adjust: 
}